body{
color:green;
  text-align: center;
    align-content: center;  
}

a {
    font-family: lobster;
    font-size: 1vw;
    text-align: center;
    align-content: center;
}

p {
    font-family: lobster;
    font-size: 2vw;
    text-align: center;
    align-content: center;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #682c0e;
  width: 100%;
  display: flex;
  justify-content: space-between;

}
#banner {
width:100%;
}
.top {
  color: #024e68;
  font-size: 45px;
  font-family: Audiowide;
  background-image: url(Seasons eatings.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-top: 45px;
  -webkit-text-stroke: 1px white;
  text-align: center;
}
#select {
  float: left;
  padding-right: 80px;
}
#select a {
  font-family: Audiowide;
  display: block;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}
#select a:hover {
  background-color: #b9232b;
}
.sub-menu-1{

  display: none;
}

#select:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: #682c0e;
  margin-top: 0px;
  margin-left: -15px;
}
#banner button {
text-decoration:none;
text-align:center;
align-content:center;
margin:auto;
}